@font-face {
  font-family: 'LeagueGothicRegular';
  src: url('leaguegothic-regular-webfont.woff2') format('woff2'),
    url('leaguegothic-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
